In [1]:
import pandas as pd

In [2]:
# initial table

ingredients = pd.read_csv("fndds_ingredient_nutrient_value.csv")
ingredients.head(20)

,ingredient code,Ingredient description,Nutrient code,Nutrient value,Nutrient value source,FDC ID,Derivation code,SR AddMod year,Foundation year acquired,Start date,End date
0,1001,"Butter, salted",203,0.85,SR Legacy,173410,NaN,1976,0,2017-01-01,2018-12-31
1,1001,"Butter, salted",204,81.11,SR Legacy,173410,NaN,1976,0,2017-01-01,2018-12-31
2,1001,"Butter, salted",205,0.06,SR Legacy,173410,NC,1976,0,2017-01-01,2018-12-31
3,1001,"Butter, salted",208,717.00,SR Legacy,173410,NC,2010,0,2017-01-01,2018-12-31
4,1001,"Butter, salted",221,0.00,SR Legacy,173410,NaN,1985,0,2017-01-01,2018-12-31
5,1001,"Butter, salted",255,16.17,SR Legacy,173410,A,2002,0,2017-01-01,2018-12-31
6,1001,"Butter, salted",262,0.00,SR Legacy,173410,Z,2001,0,2017-01-01,2018-12-31
7,1001,"Butter, salted",263,0.00,SR Legacy,173410,Z,2001,0,2017-01-01,2018-12-31
8,1001,"Butter, salted",269,0.06,SR Legacy,173410,NR,2002,0,2017-01-01,2018-12-31
9,1001,"Butter, salted",291,0.00,SR Legacy,173410,NaN,0,0,2017-01-01,2018-12-31
10,1001,"Butter, salted",301,24.00,SR Legacy,173410,A,2002,0,2017-01-01,2018-12-31
11,1001,"Butter, salted",303,0.02,SR Legacy,173410,A,2003,0,2017-01-01,2018-12-31
12,1001,"Butter, salted",304,2.00,SR Legacy,173410,A,2003,0,2017-01-01,2018-12-31
13,1001,"Butter, salted",305,24.00,SR Legacy,173410,A,2003,0,2017-01-01,2018-12-31
14,1001,"Butter, salted",306,24.00,SR Legacy,173410,A,2003,0,2017-01-01,2018-12-31
15,1001,"Butter, salted",307,643.00,SR Legacy,173410,NR,2013,0,2017-01-01,2018-12-31
16,1001,"Butter, salted",309,0.09,SR Legacy,173410,A,2003,0,2017-01-01,2018-12-31
17,1001,"Butter, salted",312,0.00,SR Legacy,173410,A,2003,0,2017-01-01,2018-12-31
18,1001,"Butter, salted",317,1.00,SR Legacy,173410,A,1997,0,2017-01-01,2018-12-31
19,1001,"Butter, salted",319,671.00,SR Legacy,173410,T,2010,0,2017-01-01,2018-12-31

In [3]:
# duplicates removed

ingredients = ingredients.drop_duplicates(['Ingredient description'])
ingredients.head(20)

,ingredient code,Ingredient description,Nutrient code,Nutrient value,Nutrient value source,FDC ID,Derivation code,SR AddMod year,Foundation year acquired,Start date,End date
0,1001,"Butter, salted",203,0.85,SR Legacy,173410,NaN,1976,0,2017-01-01,2018-12-31
65,1002,"Butter, whipped, with salt",203,0.49,SR Legacy,173411,A,2015,0,2017-01-01,2018-12-31
130,1003,"Butter oil, anhydrous",203,0.28,SR Legacy,173412,NaN,1976,0,2017-01-01,2018-12-31
195,1004,"Cheese, blue",203,21.40,SR Legacy,172175,NaN,1976,0,2017-01-01,2018-12-31
260,1005,"Cheese, brick",203,23.24,SR Legacy,172176,NaN,1976,0,2017-01-01,2018-12-31
325,1006,"Cheese, brie",203,20.75,SR Legacy,172177,NaN,1976,0,2017-01-01,2018-12-31
390,1007,"Cheese, camembert",203,19.80,SR Legacy,172178,NaN,1976,0,2017-01-01,2018-12-31
455,1009,"Cheese, cheddar (Includes foods for USDA's Foo...",203,23.30,Foundation,328637,NC,0,0,2017-01-01,2018-12-31
520,1011,"Cheese, colby",203,23.76,SR Legacy,173416,NaN,1976,0,2017-01-01,2018-12-31
585,1012,"Cheese, cottage, creamed, large or small curd",203,11.12,SR Legacy,172179,A,2008,0,2017-01-01,2018-12-31
650,1014,"Cheese, cottage, nonfat, uncreamed, dry, large...",203,10.34,SR Legacy,172181,A,2008,0,2017-01-01,2018-12-31
715,1015,"Cheese, cottage, lowfat, 2% milkfat",203,11.00,Foundation,328841,NC,0,0,2017-01-01,2018-12-31
780,1016,"Cheese, cottage, lowfat, 1% milkfat",203,12.39,SR Legacy,173417,NaN,1976,0,2017-01-01,2018-12-31
845,1017,"Cheese, cream",203,6.15,SR Legacy,173418,A,2015,0,2017-01-01,2018-12-31
910,1019,"Cheese, feta",203,14.21,SR Legacy,173420,NaN,1976,0,2017-01-01,2018-12-31
975,1020,"Cheese, fontina",203,25.60,SR Legacy,170843,NaN,1976,0,2017-01-01,2018-12-31
1040,1022,"Cheese, gouda",203,24.94,SR Legacy,171241,NaN,1976,0,2017-01-01,2018-12-31
1105,1023,"Cheese, gruyere",203,29.81,SR Legacy,171242,NaN,1976,0,2017-01-01,2018-12-31
1170,1024,"Cheese, limburger",203,20.05,SR Legacy,171243,NaN,1976,0,2017-01-01,2018-12-31
1235,1025,"Cheese, monterey",203,24.48,SR Legacy,170844,NaN,1976,0,2017-01-01,2018-12-31

In [7]:
# unneeded columns

del ingredients['Nutrient code']
del ingredients['Nutrient value']
del ingredients['Nutrient value source']
del ingredients['FDC ID']
del ingredients['Derivation code']
del ingredients['SR AddMod year']
del ingredients['Foundation year acquired']
del ingredients['Start date']
del ingredients['End date']
ingredients.head()

     ingredient code      Ingredient description
0               1001              Butter, salted
65              1002  Butter, whipped, with salt
130             1003       Butter oil, anhydrous
195             1004                Cheese, blue
260             1005               Cheese, brick

In [50]:
# unneeded ingredients e.g. beef 10% fat vs beef 15% fat

names = []

for name in ingredients['Ingredient description']:
    name = name.split(', ')[0]
    if name not in names:
        names.append(name)

print(names[50:80])
# ingredients.head(20)

['Margarine-like', 'Shortening', 'Dressing', 'Mayonnaise', 'Chicken', 'Duck', 'Goose', 'Turkey', 'Chicken patty', 'Ostrich', 'Turkey from whole', 'Soup', "CAMPBELL'S", 'Sauce', 'Gravy', 'Split pea soup', 'Split pea with ham soup', 'Fish broth', 'Blood sausage', 'Bologna', 'Bratwurst', 'Braunschweiger (a liver sausage)', 'Frankfurter', 'Ham', 'Ham salad spread', 'Headcheese', 'Knackwurst', 'Roast beef', 'Mortadella', 'Pate']

In [44]:
with open("ingredients_sql.txt", "w") as f:
    for ingredient in names:
        f.write(ingredient + "\n")

In [48]:
# last comma should be manually turned into a ;
# a few apostrophes also need to be manually escaped because I'm too lazy for it

with open("ingredients_sql.txt", "w") as f:
    s = "INSERT INTO INGREDIENTS (name) VALUES "
    f.write(s)
    for ingredient in names:
        s = f"('{ingredient}'), "
        f.write(s)